name: Linting/Style
on: [push, pull_request]
jobs:
  Check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: python3 -m pip install -r requirements.txt
      - run: python3 -m black --check --verbose src/
  

